---
author_profile: true
layout: splash
classes:
  - landing
excerpt: "Data Scientist, Chemical Engineer"
title: "Yajun Ding"
header:
  image_description: ""
  overlay_image: /assets/img/cover.jpg
  overlay_filter: 0.2 # same as adding an opacity of 0.5 to a black background
  caption: ""
row1:
  - image_path: /assets/img/three_multiflavor.png
    alt: ""
    title: "Research Article: Multi-flavored Colloidal Assembly in 3D"
    excerpt: ""
    url: "https://doi.org/10.1039/C8SM00989A"
    btn_label: "Read More"
    btn_class: "btn--inverse"
row2:
  - image_path: /assets/img/two_multiflavor.jpg
    alt: ""
    title: "Research Article: Multi-flavored Colloidal Assembly in 2D"
    excerpt: ""
    url: "http://doi.org/10.1021/acs.langmuir.7b02835"
    btn_label: "Read More"
    btn_class: "btn--inverse"
---
{% include feature_row id="row1" %}

{% include feature_row id="row2" %}
